<%- partial('_partial/head') %>

<body>

  <!-- Navigation -->
  <%- partial('_partial/menu') %>
  <!-- Navigation end -->

  <!-- Header -->
  <%- partial('_partial/header') %>
  <!-- Header End -->

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <% if (!page.full) { %>

      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-4">
        <%- body %>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4 mt-4">

        <%- partial('_partial/sidebar') %>

      </div>

    <% } else { %>
      <div class="col-md-12 mt-4">
        <%- body %>
      </div>

    <% } %>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after-footer') %>
  <!-- Footer end -->

</body>

</html>