<div class="card mb-4 shadow-lg rounded">

    <div class="card-body article-entry">

        <% if(item.thumbnail) { %>
        <img class="card-img-top rounded" src="<%- item.thumbnail %>" alt="<%- item.title %>">
        <% } %>

        <!-- Title -->
        <h3 class="card-title">
            <a href="<%- config.root %><%- item.path %>">
                <%- item.title || item.link%>
            </a>
        </h3>

        <!-- Date and Author -->
        <h6 class="card-title mb-4">
            <%= item.date.format(config.date_format) %>
            <% if(item.author) { %>
            by <%- item.author %>
            <% } %>
        </h6>

        <!-- Content -->
        <%- item.more || item.content %>

        <div class="cs-content-tags">
            <%- list_tags(item.tags, {
                show_count: false,
                class: 'cs-post-tags'
              }) %>
        </div>

        <div class="mt-5">
            <h2>Love the post? Share it!</h2>
            <p>
                Lots of time and effort go into creating all these blogs, resources and demos, I'd love if you'd spare a moment to share this one!
            </p>

            <div class="mt-2 d-flex">
                <a class="btn social-link social-twitter mr-3" href="https://twitter.com/intent/tweet?url=<%- item.permalink %>" target="_blank">
                    <i class="fab fa-twitter mr-1"></i>
                    Twitter
                </a>

                <a class="btn social-link social-facebook mr-3" href="https://www.facebook.com/sharer.php?u=<%- item.permalink %>" target="_blank">
                    <i class="fab fa-facebook mr-1"></i>
                    Facebook
                </a>

                <a class="btn social-link social-linkedin mr-3" href="https://www.linkedin.com/shareArticle?mini=true&url=<%- item.permalink %>" target="_blank">
                    <i class="fab fa-linkedin-in mr-1"></i>
                    LinkedIn
                </a>
            </div>
        </div>

    </div>

</div>

<!-- Show comment section only for posts -->
<% if (is_post()) { %>

<div class="card mb-4 shadow-lg rounded">

    <div class="card-body">
        <!-- Comments -->
        <%- partial('comments') %>
    </div>
</div>

<% } %>