<footer class="py-2 bg-dark">
    <div class="container">

        <div class="cs-social-icon-list social-footer">
            <span><a href="<%- theme.social.facebook %>"><i class="fab fa-facebook"></i></a></span>
            <span><a href="<%- theme.social.twitter %>"><i class="fab fa-twitter"></i></a></span>
            <span><a href="<%- theme.social.github %>"><i class="fab fa-github"></i></a></span>
            <span><a href="<%- theme.social.instagram %>"><i class="fab fa-instagram"></i></a></span>
            <span><a href="<%- theme.social.stackoverflow %>"><i class="fab fa-stack-overflow"></i></a></span>
        </div>

        <p class="m-0 text-center text-white">Copyright &copy; <%- config.title %> <%- config.year %> </p>
    </div>
</footer>

<%- js('js/jquery.min.js') %>
<%- js('js/bootstrap.bundle.min.js') %>
<%- js('js/theme.js') %>

<% if (theme.google_analytics) { %>
<%- partial('google-analytics') %>
<% } %>

<!-- Disqus Comments -->
<% if (theme.disqus_shortname){ %>
<script type="text/javascript">
    var disqus_shortname = '<%= theme.disqus_shortname %>';
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>
<% } %>

<script type="text/javascript">
    $('#csSearchBox').keyup((debounce((e) => {
        const searchTerm = e.target.value;
        let search_path = "<%= config.search.path %>";
        if (search_path.length == 0) {
            search_path = "search.xml";
        }
        const path = "<%= config.root %>" + search_path;

        const $suggestionBox = $('.cs-auto-complete ul');
        $suggestionBox.empty();

        //we will only initate search if user enteres more than 3 characters
        if (searchTerm.length > 3) {
            doSearch(path, searchTerm);
        }

    }, 250)));

    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

</script>


<% if (theme.fancybox){ %>
<%- css('fancybox/jquery.fancybox') %>
<%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<script>
    $('.article-entry').each(function (i) {
        $(this).find('img').each(function () {
            if ($(this).parent().hasClass('fancybox')) return;

            var alt = this.alt;

            if (alt) $(this).after('<span class="caption">' + alt + '</span>');

            $(this).wrap('<a href="' + this.src + '" title="' + alt + '" class="fancybox"></a>');
        });

        $(this).find('.fancybox').each(function () {
            $(this).attr('rel', 'article' + i);
        });
    });

    if ($.fancybox) {
        $('.fancybox').fancybox();
    }
</script>

<% if (is_post()) { %>

<script>

    // this code snippet will make sure that images in blog post becomes responsive
    const imgList = $('.card-body img');
    if (imgList && imgList.length > 0) {

        for (let i = 0; i < imgList.length; i++) {
            const classList = imgList[i].classList || { value: "" };

            if (classList.value.indexOf('card-img') === -1) {
                classList.add('card-img');
            }
        }
    }

</script>

<% } %>