<footer class="py-2 bg-dark">
    <div class="container">

        <div class="cs-social-icon-list social-footer">
            <span><a href="<%- theme.social.facebook %>"><i class="fab fa-facebook"></i></a></span>
            <span><a href="<%- theme.social.twitter %>"><i class="fab fa-twitter"></i></a></span>
            <span><a href="<%- theme.social.github %>"><i class="fab fa-github"></i></a></span>
            <span><a href="<%- theme.social.instagram %>"><i class="fab fa-instagram"></i></a></span>
            <span><a href="<%- theme.social.stackoverflow %>"><i class="fab fa-stack-overflow"></i></a></span>
        </div>

        <p class="m-0 text-center text-white">Copyright &copy; <%- config.title %> <%- config.year %> </p>
    </div>
</footer>
